@tailwind base;
@tailwind components;
@tailwind utilities;
body.pikl-winmaximized {
    overflow: hidden;
}
.pikl-taskicon {
    @apply mx-2 transition-all text-green-600 hover:-translate-y-1 hover:text-green-500 relative text-[28px];
    @apply after:content-[''] after:absolute after:block after:w-full after:h-[2px] after:left-0 after:bg-green-600 after:hover:bg-green-500 after:hover:scale-x-100 after:scale-x-0 after:origin-top-left after:transition after:ease-in-out after:duration-300 after:rounded-sm;
}
.pikl-piklicon {
    @apply mx-2 transition-all hover:translate-y-0.5 translate-y-1.5 relative;
    @apply after:content-[''] after:absolute after:block after:w-full after:h-[2px] after:-bottom-1 after:left-0 after:bg-green-600 after:hover:bg-green-500 after:hover:scale-x-100 after:scale-x-0 after:origin-top-left after:transition after:ease-in-out after:duration-300 after:rounded-sm after:-translate-y-1.5;
}
.pikl-taskicon.active > span {
    @apply bg-gray-700 rounded-md p-0.5 text-[24px];
}
.pikl-taskicon.active {
    @apply after:scale-100 text-green-500 -translate-y-1;
}
.pikl-taskicon > span {
    @apply transition-all;
}
.pikl-maincontainer {
    @apply w-[80%] h-[95%] fixed top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-white;
}
.pikl-taskbar {
    @apply w-auto px-6 py-5 bg-gray-800 absolute bottom-0 rounded-lg left-[50%] flex shadow-2xl transition-transform ease-out duration-300;
    --pikl-taskbar-translate: 130%;
    transform: translate(-50%,var(--pikl-taskbar-translate));
}
.pikl-taskbar.minimized {
    @apply opacity-20 rounded-full right-0 left-auto transition-all;
    transform: translate(200%,var(--pikl-taskbar-translate));
}
.pikl-taskbar.minimized:hover {
    @apply opacity-50;
}
.pikl-taskbar.minimized > .pikl-taskicon {
    @apply hidden;
}
.pikl-taskbar.minimized > .pikl-piklicon {
    @apply after:hidden translate-y-0.5 -mx-1;
}
.pikl-tasktooltip {
    @apply w-auto py-1 px-3 bg-slate-900 absolute bottom-10 rounded-lg flex shadow-2xl font-bold transition-all text-white text-base right-[50%] translate-x-[50%] -translate-y-1 scale-0;
}
.pikl-tasktooltip div:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #0F172A transparent transparent transparent;
    @apply absolute left-[50%] -translate-x-[50%] translate-y-[27px];
}
.pikl-window {
    @apply w-[90%] h-[83%] bg-gray-800 mx-auto rounded-lg shadow-2xl hidden p-8 transition-transform ease-out duration-200 origin-bottom-right;
    --pikl-window-translate: -120%;
    --pikl-window-scale: 1;
    transform: translateY(var(--pikl-window-translate)) scale(var(--pikl-window-scale));
}
.pikl-window.active {
    @apply block;
}
.pikl-apptitle {
    @apply text-2xl font-semibold;
}
.pikl-apptitle>.jam {
    @apply rounded border border-green-600 bg-green-900 items-center justify-center text-green-400 text-xl p-0.5 mr-2;
}
.pikl-loadingimg {
    @apply rounded-full bg-gray-900 p-[40px] w-[300px] h-[300px] border-gray-700 border-4 absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] transition-all shadow-lg;
}
.pikl-loadingimg > svg {
    width: 200px;
    height: 200px;
}
.pikl-loadingimg > svg > path {
    stroke-width: 10;
    stroke-dasharray: 1670;
    stroke-dashoffset: 1670;
    animation: pikl-animate-loadingimg 2s linear infinite forwards;
}
.pikl-devalert, .pikl-downalert {
    @apply top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] absolute w-96 border-4 p-3 rounded-lg;
}
.pikl-devalert > h1, .pikl-downalert > h1 {
    @apply text-2xl font-bold mb-2;
}
.pikl-devalert {
    @apply bg-amber-300 bg-opacity-25 border-amber-400 text-amber-300;
}
.pikl-downalert {
    @apply bg-red-500 bg-opacity-25 border-red-600 text-red-500;
}
@keyframes pikl-animate-loadingimg {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1670;
    }
    50% {
        stroke-dashoffset: 1670;
    }
    90% {
        stroke-dashoffset: 3340;
    }
    100% {
        stroke-dashoffset: 3340;
    }
}