@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://unpkg.com/jam-icons/css/jam.min.css");
.modalbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
    height: 90%;
}